<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nerojust.arkandarcsadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/arkandarcs_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/arkandarcs_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".customer.orders.CustomerOrdersActivity"></activity>
        <activity android:name=".customer.CustomerDashboard" />
        <activity android:name=".customer.register.CustomerRegisterActivity" />
        <activity
            android:name=".customer.login.CustomerLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.views.transactions.AdminTransactionDetailsActivity"
            android:label="Details"
            android:parentActivityName=".admin.views.transactions.AdminTransactionsActivity" />
        <activity
            android:name=".admin.views.orders.AdminOrderDetailsActivity"
            android:label="Order Details"
            android:parentActivityName=".admin.views.orders.AdminOrdersActivity" />
        <activity
            android:name=".admin.views.orders.AdminOrdersActivity"
            android:label="Orders"
            android:parentActivityName=".admin.views.AdminDashBoardActivity" />
        <activity
            android:name=".start_pages.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.views.users.UsersActivity"
            android:label="Admin"
            android:parentActivityName=".admin.views.AdminDashBoardActivity" />
        <activity
            android:name=".admin.views.AdminDashBoardActivity"
            android:label="Dashboard" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3223394163127231~3493954191" />

        <activity
            android:name=".admin.views.products.AdminProductsActivity"
            android:label="Products"
            android:parentActivityName=".admin.views.orders.AdminOrdersActivity" />
        <activity
            android:name=".admin.views.register.AdminRegisterActivity"
            android:label="Register"
            android:parentActivityName=".admin.views.login.AdminLoginActivity" />
        <activity
            android:name=".admin.views.products.AdminProductDetailsActivity"
            android:label="Product Details"
            android:parentActivityName=".admin.views.products.AdminProductsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.views.login.AdminLoginActivity"
            android:label="Sign in"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".admin.views.products.AdminAddProductActivity"
            android:label="Add Product"
            android:parentActivityName=".admin.views.products.AdminProductsActivity" />
        <activity
            android:name=".admin.views.transactions.AdminTransactionsActivity"
            android:label="Transactions"
            android:parentActivityName=".admin.views.orders.AdminOrdersActivity" />
    </application>

</manifest>