<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nerojust.arkandarcsadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3223394163127231~3493954191" />

        <activity
            android:name=".views.products.ProductsActivity"
            android:label="Products" />
        <activity
            android:name=".views.register.RegisterActivity"
            android:label="Register"
            android:parentActivityName=".views.login.LoginActivity" />
        <activity
            android:name=".views.products.ProductDetailsActivity"
            android:label="Product Details"
            android:parentActivityName=".views.products.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.login.LoginActivity"
            android:label="Sign in"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.products.AddProductActivity"
            android:label="Add Product" />
    </application>

</manifest>